[project]
name = "horn-analysis"
version = "0.1.0"
description = "Analysis and plotting tools for the Horn project."
dependencies = [
    "pandas",
    "scipy",
    "matplotlib",
]

[project.scripts]
horn-plotter = "horn_analysis.plotter:main"
horn-kpi = "horn_analysis.kpi:main"
horn-compare = "horn_analysis.compare:main"
horn-impedance-plot = "horn_analysis.impedance_plot:main"
horn-phase-plot = "horn_analysis.phase_plot:main"

[project.optional-dependencies]
test = [
    "pytest"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/horn_analysis"] 