name: CI

on: [push, pull_request]

jobs:
  test_nextflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
      - name: Install nf-test
        uses: nf-core/setup-nf-test@v1
      - name: Install just
        uses: extractions/setup-just@v2
      - name: Build Docker images
        run: just build
      - name: Run nf-test
        run: just test-nextflow

  test_packages:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [horn-geometry, horn-solver, horn-analysis]
    steps:
      - uses: actions/checkout@v3
      - name: Build test image
        run: docker build -t ${{ matrix.package }}:test --target test -f ./packages/${{ matrix.package }}/Dockerfile .
      - name: Run tests
        run: docker run --rm ${{ matrix.package }}:test pytest packages/${{ matrix.package }}/tests
      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push production image
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./packages/${{ matrix.package }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.package }}:latest