name: CI

on: [push, pull_request]

jobs:
  test_nextflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
      - name: Install nf-test
        run: |
          wget https://github.com/askimed/nf-test/releases/download/v0.8.4/nf-test-0.8.4-linux-amd64 -O nf-test
          chmod +x nf-test
          sudo mv nf-test /usr/local/bin/
      - name: Install just
        uses: extractions/setup-just@v2
      - name: Build Docker images
        run: just build
      - name: Run nf-test
        run: just test-nextflow

  test_packages:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [horn-geometry, horn-solver, horn-analysis]
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./packages/${{ matrix.package }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.package }}:latest
      - name: Run tests
        run: docker run --rm ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.package }}:latest pytest